.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: solid 2px transparent;
  text-decoration: none;
  transition: border-color var(--fast);
}

.card:hover {
  border-color: var(--accent);
}

.card:has(button:hover) {
  border-color: transparent;
}

.button {
  align-self: center;
  margin-top: 10px;
}
