.badge {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1.75em;
  height: 1.75em;
  border-radius: 999px;
  background: var(--deep-light);
  color: var(--deep);
  font-weight: var(--bold);
  font-size: 1rem;
}
