.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  padding: 5px 20px;
  gap: 10px;
  border-radius: var(--rounded);
  text-decoration: none;
  transition:
    background var(--fast),
    color var(--fast);
}

.square {
  min-width: 40px;
  min-height: 40px;
  padding: 0;
}

.normal {
  background: var(--off-white);
  color: var(--accent);
}

.normal:hover {
  background: var(--deep-light);
  color: var(--black);
}

.accent {
  background: var(--accent);
  color: var(--white);
}

.accent:hover {
  background: var(--deep);
  color: var(--white);
}

.accent:focus {
  outline-color: var(--accent);
}

.critical {
  background: var(--black);
  color: var(--white);
}

.critical:hover {
  background: var(--deep);
  color: var(--white);
}

.critical:focus {
  outline-color: var(--black);
}
