.container {
  padding: 2px 5px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background var(--fast);
}

.container:hover {
  background: var(--off-white);
}

.check {
  height: 20px;
  color: var(--accent);
  transition: color var(--fast);
}

.container:hover .check {
  color: var(--deep);
}

.required {
  position: relative;
  top: -10px;
  color: var(--accent);
}
