:root {
  --header-padding-shrink: clamp(0px, calc(var(--y) / 4), 10px);
  --header-logo-shrink: clamp(0px, calc(var(--y) / 2), 10px);
  --header-shrink: calc(
    var(--header-padding-shrink) + var(--header-logo-shrink)
  );
}

.header {
  z-index: 2;
  position: sticky;
  top: 0;
  margin-bottom: var(--header-shrink);
  padding: calc(20px - var(--header-padding-shrink));
  background: var(--deep);
  box-shadow: var(--shadow);
  color: var(--white);
}

.logo {
  height: calc(40px - var(--header-logo-shrink));
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-link {
  font-weight: var(--regular);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.toggle {
  display: none;
  padding: 5px;
  color: currentColor;
  transition: opacity var(--fast);
}

.toggle:hover {
  opacity: 0.5;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.link {
  position: relative;
  padding: 2px 5px;
  color: currentColor;
  text-decoration: none;
}

.link::after {
  position: absolute;
  right: 5px;
  bottom: 0.1em;
  left: 5px;
  height: 1px;
  scale: 0 1;
  background: currentColor;
  content: "";
  transition: scale var(--fast);
}

.link:hover::after {
  scale: 1 1;
}

@media (max-width: 620px) {
  .toggle {
    display: flex;
  }

  .nav {
    flex-direction: column;
    width: 100%;
  }

  .nav[data-open="false"] {
    display: none;
  }
}
