.horizontal,
.vertical {
  display: flex;
  max-width: 100%;
  gap: 10px;
}

.horizontal {
  align-items: center;
}

.horizontal > :first-child {
  flex-shrink: 0;
}

.vertical {
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.required {
  align-self: flex-start;
  height: 10px;
  margin-left: -5px;
  color: var(--accent);
}

.help {
}
