.content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 20px;
  gap: 20px;
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: 0 0 0 9999px #00000040;
}

.arrow {
  fill: var(--white);
}
