.list {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 10px;
  gap: 10px;
  border-radius: var(--rounded);
}

.option {
  display: flex;
  /* align-items: center; */
  padding: 5px 10px;
  gap: 10px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background var(--fast);
}

.option:hover {
  background: var(--off-white);
  box-shadow: none;
}

.option[data-state="checked"] {
  color: var(--accent);
}

.check {
  margin-top: 0.15lh;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  margin-top: 0.15lh;
  color: var(--dark-gray);
}
