.container {
  display: inline-flex;
  appearance: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: none;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

.option {
  display: flex;
  padding: 5px 10px;
  gap: 10px;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: background var(--fast);
}

.option:hover {
  background: var(--off-white);
  box-shadow: none;
}

.checked {
  color: var(--accent);
}

.check {
  margin-top: 0.15lh;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  margin-top: 0.15lh;
  color: var(--dark-gray);
}
