.container {
  display: flex;
  gap: 10px 15px;
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  flex-grow: 1;
  padding: 5px;
  gap: 10px;
  border-bottom: solid 2px currentColor;
  border-radius: 0;
  color: var(--accent);
  text-align: left;
  transition: color var(--fast);
}

.button:hover {
  color: var(--deep);
}

.button > span {
  flex-grow: 1;
}

.options {
  z-index: 3 !important;
  min-width: max-content;
  margin: 0;
  padding: 0;
  outline: none;
  background: var(--white);
  box-shadow: var(--box-shadow);
  list-style: none;
}

.option {
  display: flex;
  align-items: center;
  max-width: calc(100vw - 80px);
  margin: 0;
  padding: 5px 10px;
  gap: 10px;
  line-height: var(--compact);
  text-align: left;
  cursor: pointer;
  transition: background var(--fast);
}

.option-active {
  background: var(--off-white);
}

.check {
  justify-self: center;
  width: 15px;
  color: var(--accent);
}

.check[hidden] {
  opacity: 0;
}

.primary {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.secondary {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
  font-size: 0.9rem;
  text-align: right;
}

.icon {
  justify-self: flex-end;
  width: 30px;
}
