.container {
  display: flex;
  gap: 10px 15px;
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  flex-grow: 1;
  padding: 5px;
  gap: 10px;
  border-bottom: solid 2px currentColor;
  border-radius: 0;
  color: var(--accent);
  text-align: left;
  transition: color var(--fast);
}

.button:hover {
  color: var(--deep);
}

.button > span {
  flex-grow: 1;
}

.options {
  z-index: 999;
  min-width: max-content;
  margin: 0;
  padding: 0;
  outline: none;
  background: var(--white);
  box-shadow: var(--shadow);
  list-style: none;
}

.option {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 30px;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  transition: background var(--fast);
}

.option-active {
  background: var(--off-white);
}

.check {
  justify-self: center;
  height: 15px;
  color: var(--accent);
}

.check[hidden] {
  opacity: 0;
}

.text {
  padding-right: 10px;
}

.info {
  justify-self: flex-end;
  padding-right: 10px;
  text-align: right;
}

.icon {
  justify-self: flex-end;
  padding-right: 10px;
}
