.container {
  display: flex;
  margin-bottom: 15px;
  gap: 10px 15px;
  border-radius: var(--rounded);
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.track {
  box-sizing: content-box;
  min-width: 100px;
  height: 5px;
  margin: 5px;
  padding: 5px;
  border-radius: 999px;
  background: var(--gray);
  background-clip: content-box;
  color: var(--accent);
  cursor: pointer;
  transition: color var(--fast);
}

.horizontal .track {
  flex-grow: 1;
}

.container:hover .track {
  color: var(--deep);
}

.fill {
  position: absolute;
  top: 50%;
  height: 5px;
  transform: translateY(-50%);
  border-radius: 999px;
  background: currentColor;
}

.thumb {
  top: 50%;
  width: 15px;
  height: 15px;
  border-radius: 999px !important;
  background: currentcolor;
  cursor: pointer;
}

.thumb[data-focused] {
  outline: solid 2px currentColor;
  outline-offset: 2px;
}

.primary-marker,
.secondary-marker {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: opacity var(--fast);
}

.secondary-marker {
  color: var(--gray);
  opacity: 0;
}

.track:has(:hover) .thumb:not(:hover) .primary-marker,
.track:has([data-focused]) .thumb:not([data-focused]) .primary-marker {
  opacity: 0;
}

.track:has(:hover) .secondary-marker,
.track:has([data-focused]) .secondary-marker {
  opacity: 1;
}
