.scroll {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: min(max-content, var(--content));
}

.th {
  display: inline-flex;
  gap: 5px;
}

.th-label {
  padding-right: 5px;
}

.header-button {
  color: var(--light-gray);
  transition: color var(--fast);
}

.header-button:hover {
  color: var(--deep);
}

.header-button[data-active] {
  color: var(--accent);
}

.empty {
  padding: 20px;
  color: var(--gray);
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
}

.page-text {
  padding: 0 5px;
  color: var(--accent);
  transition: color var(--fast);
}

.page-text:hover {
  color: var(--deep);
}

.page-button {
  width: 30px;
  height: 30px;
  border-radius: var(--rounded);
  color: var(--accent);
  transition: color var(--accent);
}

.page-button:hover {
  color: var(--deep);
}
