.scroll {
  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 800px) {
  .expanded th,
  .expanded td {
    white-space: nowrap;
  }
}

.table {
  width: 100%;
  min-width: min(max-content, var(--content));
}

.th-label {
  padding-right: 2px;
}

.header-button {
  color: var(--light-gray);
  padding: 2px;
  transition: color var(--fast);
}

.header-button:hover {
  color: var(--deep);
}

.header-button[data-active] {
  color: var(--accent);
}

.empty {
  padding: 20px;
  color: var(--dark-gray);
  text-align: center;
}

.page-text {
  padding: 0 5px;
  color: var(--accent);
  transition: color var(--fast);
}

.page-text:hover {
  color: var(--deep);
}

.page-button {
  width: 20px;
  height: 30px;
  border-radius: var(--rounded);
  color: var(--accent);
  transition: color var(--accent);
}

.page-button:hover {
  color: var(--deep);
}

.search {
  max-width: 150px;
}
