.container {
  display: contents;
}

.button {
  padding: 5px 10px;
  border-bottom: solid 2px var(--light-gray);
  color: var(--dark-gray);
  cursor: pointer;
  transition:
    color var(--fast),
    border-color var(--fast);
}

.button:hover {
  border-color: var(--deep);
  color: var(--deep);
}

.button[data-selected] {
  border-color: var(--accent);
  color: var(--accent);
}

.content {
  display: contents;
}
