.toast {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 5px 0 5px 10px;
  gap: 10px;
}

.toast > svg {
  height: 20px;
  color: var(--color);
}

.toast > button {
  padding: 10px;
  color: var(--dark-gray);
}
