.popup {
  z-index: 999 !important;
}

.content {
  max-width: 320px;
  padding: 10px 15px;
  background: var(--off-black);
  color: var(--white);
  text-wrap: pretty;
}

.arrow {
  --arrow-size: 10px;
  --arrow-background: var(--off-black);
}

.arrow div {
  box-shadow: var(--shadow);
  clip-path: polygon(-50% -50%, 150% -50%, -50% 150%);
}
