.content {
  display: flex;
  z-index: 3;
  flex-direction: column;
  max-width: 320px;
  padding: 10px 15px;
  gap: 5px;
  border-radius: var(--rounded);
  background: var(--off-black);
  color: var(--white);
  text-wrap: pretty;
}

.arrow {
  fill: var(--off-black);
}

.content[data-state="delayed-open"] {
  animation: fade var(--fast);
}

@keyframes fade {
  from {
    opacity: 0;
  }
}
