.list {
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background: var(--deep);
  box-shadow: var(--box-shadow);
  color: var(--white);
  transition: background var(--fast);
}

.button:hover {
  background: var(--accent);
}
