/** half content-width column */

.narrow {
  width: 100%;
  max-width: calc(var(--content) / 2) !important;
}

/** full width */

.full {
  width: 100%;
}

/** expanded width */

.expanded {
  width: calc(100vw - 80px);
}

/** basic auto-filled grid with max number of columns */

.grid {
  --cols: 3;
  --cell: min(100%, calc(var(--content) / var(--cols) - 100px));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--cell), 1fr));
  align-items: flex-start;
  max-width: 100%;
  gap: calc(80px / var(--cols));
}

/** adjust max number of grid columns */

.cols-1 {
  --cols: 1 !important;
}

.cols-2 {
  --cols: 2 !important;
}

.cols-3 {
  --cols: 3 !important;
}

.cols-4 {
  --cols: 4 !important;
}

/** simple two-col auto-sized table of key/value pairs */

.mini-table {
  --cols: 2;
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  grid-auto-rows: min-content;
  gap: 10px 20px;
  text-align: left;
}

.mini-table > :nth-child(odd) {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  color: var(--deep);
  font-weight: var(--medium);
}

.mini-table > :nth-child(even) {
  overflow-y: auto;
  max-height: 300px;
}

.mini-table > :nth-child(even):empty::after {
  content: "-";
  color: var(--gray);
}

/** automatically applied to all icons (react-icons and imported custom icons) */

.icon {
  flex-shrink: 0;
  width: unset;
  height: 1em;
  overflow: visible;
}

/** blank box for dev or loading placeholder */

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4 / 1;
  width: 100%;
  border-radius: var(--rounded);
  background: var(--light-gray);
}
