.hero {
  font-size: 1.2rem;
  text-align: center;
  text-wrap: balance;
}

@media (min-width: 800px) {
  .feature:nth-child(even) .feature-image {
    order: 1;
  }
}

.feature-image {
  display: flex;
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
  width: 400px;
  max-width: 100%;
  padding: 10px;
  border-radius: var(--rounded);
  background: white;
  box-shadow: var(--box-shadow);
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
