.summary {
  display: flex;
  flex-direction: column;
  width: unset;
  gap: 10px;
}

.divider {
  grid-column: 1 / -1;
}

.parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
