.summary {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, max-content));
  justify-content: center;
  gap: 40px;
}

.genes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
}

@media (max-width: 600px) {
  .summary {
    grid-template-columns: 1fr;
  }
}
